:root {
  --white: #ffffff;
  --body-txt: #707070;
  --sky-blue: #1792d2;
  --navy-blue: #143774;
  --gray-1: #f8f8f8;
  --bg-gray: #ebebeb;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Lora", serif;
  font-family: "Ubuntu", sans-serif;
  color: var(--body-txt);
}

.prime-container {
  width: clamp(320px, 100vw, 557px);
  margin-inline: auto;
}

.header-container {
  text-align: center;
  background-color: var(--gray-1);
  padding: 2em;
}

.logo-container {
  margin: 3em 0;
}

.logo {
  font-family: Lora, serif;
  font-size: 3.3rem;
  font-weight: 500;
  color: var(--navy-blue);
}

.logo-tagline {
  font-family: Ubuntu, sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.24rem;
  color: var(--sky-blue);
}

.nav-list-container {
  list-style: none;
  text-align: center;
}

a {
  text-decoration: none;
}

.nav-list-container a {
  display: inline-block;
  color: var(--body-txt);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 3em;
  width: 100%;
  transition: 0.2s ease-out;
}

.nav-list-container a:hover,
.nav-list-container a:focus {
  background-color: var(--sky-blue);
  color: var(--white);
}

img {
  width: 100%;
  border-radius: 4px;
}

.about-me-image {
  aspect-ratio: 5/4;
  object-fit: cover;
}

.less-width-container {
  margin: 0 auto;
  width: 90%;
}

.blog {
  margin: 2em 0;
}

.blog-title {
  font-size: 2.4rem;
  color: var(--navy-blue);
  font-family: Lora, serif;
  font-weight: 500;
  margin: 1em 0;
}

.blog-body-text {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 1em;
}

.sub-heading {
  font-size: 2.1rem;
  font-family: Lora, serif;
  color: var(--sky-blue);
  font-weight: 400;
  margin-bottom: 1em;
}

.spacer-rule {
  height: 2px;
  border: none;
  background-color: var(--gray-1);
  margin: 1em 0;
}

.subsection {
  margin: 5em 0;
  background-color: var(--bg-gray);
  padding: 2em;
}

.sub-section-title {
  color: var(--navy-blue);
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1em 0;
}

.white-bg {
  padding: 0 2em;
  margin: 0 auto;
  background-color: var(--white);
}

.recent-post-img {
  aspect-ratio: 16/5;
  object-fit: cover;
  margin-bottom: 0.5em;
}

.recent-post p {
  font-size: 1.8rem;
  font-family: Lora, serif;
  color: var(--navy-blue);
}

.footer-container {
  text-align: center;
  padding: 5em 0;
  background-color: var(--navy-blue);
  color: rgba(255, 255, 255, 0.6);
}

.footer-title {
  font-size: 1.8rem;
  margin-bottom: 0.2em;
  font-weight: 600;
  letter-spacing: 0.07em;
}

.copyright {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.07em;
}

@media (min-width: 820px) {
  .prime-container {
    width: clamp(820px, 100%, 1920px);
  }
  .full-width-container header {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav ul {
    display: flex;
  }
  nav li {
    margin-left: 5em;
  }
  .nav-list-container a:hover,
  .nav-list-container a:focus {
    background-color: transparent;
    color: black;
  }
  .header-container {
    padding: 3em;
  }
  .less-width-container {
    max-width: 1000px;
  }
  main {
    display: flex;
    gap: 5em;
    align-items: flex-start;
  }
  .blog-container {
    flex: 3;
  }
  .aside {
    flex: 1;
  }
  .subsection {
    margin: 2em 0;
  }
  .blog-flex-right {
    flex: 3;
  }
  .about-me-image {
    aspect-ratio: 4/3.35;
  }
  .recent-post-img {
    aspect-ratio: 16/9;
  }
}
